<h1><a ng-href="/#/articles">Articles</a></h1>

<div id="articlesDiv">
  <div class="article" ng-repeat="(key, article) in articles | orderByPriority | orderBy:'-kudos'">
    <a ng-href="#/articles/{{article.$id}}" ng-click="select(article.$id)">Select</a>
    <a ng-click="upVote(article.$id)">Up</a>
    <span>{{article.kudos}} {{article.$id}}</span>
    <em>{{article.name}}</em>: {{article.url}}
    <a ng-click="articles.$remove(article.$id)">Remove</a>
  </div>
</div>

<input type="text" ng-model="name" placeholder="Article Name">
<input type="text" ng-model="url" ng-keydown="addArticle($event)" placeholder="URL">