<div class="row">
  <div class="col-md-4">
    <ng-include src="'views/articles.html'"></ng-include>
  </div>

  <div class="col-md-8">
    <h2>
      <em>{{article.name}}</em>: {{article.url}}
    </h2>
    <div>{{article.kudos}} points</div>
    <button ng-click="articles.$remove(article.$id)">Remove</button>
    <button ng-click="upVote(article.$id)">^</button>
    <div>ID: {{article.$id}}</div>

    <h3>Comments</h3>
    <div class="comments" ng-controller="CommentsCtrl" ng-if="article">
      <div class="comment" ng-repeat="(k, comment) in article.comments">
        <span href="#" ng-click="upVote(k)">Up</span>
        <span>{{comment.kudos}}: Add Username</span>
        <p>{{comment.body}}
          <span href="#" ng-click="comments.$remove(k)">Remove</span>
        </p>
      </div>  

      <label>Add Comment:
        <input type="text" ng-model="body" placeholder="Some nice comment..." ng-keydown="addComment($event)"/>
      </label>
    </div>
  </div>
</div>
